{% extends 'neuroMarketingApp/base.html' %} <!-- Heredamos de base el contenido -->

{% load static %}<!--Cargamos contenido dentro de la carpeta static-->

{% block content %}<!--Abrimos el bloque del contenido a mostrar-->

    <h1 class="m-0">Creditos</h1>
    <img src="{% static 'neuroMarketingApp/img/IMG_2283.jpg' %}" class="img-fluid" alt="Responsive image">

    <div class="content-header">
        <strong>Copyright &copy; 2014-2021 <a href="#">AdminLTE.io</a>.</strong>
        All rights reserved.
        <b>Version</b> 3.2.0
        <div class="float-right d-none d-sm-inline-block">
            <strong>Von Ponchis Gemacht</strong>
        </div>    
    </div>
    

{% endblock %}